%tr
  %td
    %span.date= "#{display_date transaction.date}:"
    %span.description= link_to (transaction.description.presence || '(no description)'), edit_transaction_path(transaction)
  %td
    %table.line_items
      - transaction.line_items.each do |line_item|
        %tr
          %td= line_item.account.name
          %td= line_item.debit
          %td= line_item.credit
