%h1 Transactions

- @transactions.each do |t|
  %p
    ID:
    = t.id
    %br/
    Date:
    = t.date
    %br/
    Description:
    = t.description
    Line Items:
    %table
      %thead
        %tr
          %th Account
          %th Debit
          %th Credit
      %tbody
        - t.line_items.each do |li|
          %tr
            %td= li.account.full_name
            %td= li.debit_in_cents
            %td= li.credit_in_cents

= link_to 'New Transaction', new_transaction_path
