%h1 New Transaction

= semantic_form_for @transaction do |f|
  %p= f.input :description, as: :string
  %p= f.input :date
  %a#add_line_item{href: '#', onclick: "addLineItem()"} Add Line Item
  %p= f.submit

#line_item_fields{ style: 'display: none' }
  %label Debit in Cents
  %input{name: 'transaction[line_items][][debit_in_cents]', type: 'number'}
  %label Credit in Cents
  %input{name: 'transaction[line_items][][credit_in_cents]', type: 'number'}
  = select_tag 'transaction[line_items][][account_id]',
    options_from_collection_for_select(Account.all, 'id', 'full_name')

- content_for :js do
  :plain
    function addLineItem() {
      var newLineItem = $('#line_item_fields').clone();
      newLineItem.insertBefore($('#add_line_item'));
      newLineItem.show();
    }
