!!! html
!!!
%html
  %head
    %title
      Fortune Track
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_tag(yield :js)
    = javascript_tag "$(document).ready(function() { #{yield :ready_js}; });"
    = csrf_meta_tags
  %body
    #nav
      %ol
        %li= link_to 'Accounts', accounts_path
        %li= link_to 'Transactions', transactions_path
        %li= link_to 'New Cash Expense', new_cash_transactions_path
        %li= link_to 'New Transaction', new_transaction_path
        %li= link_to 'Expenses', expense_report_reports_path
        %li= link_to 'Import', new_account_import_path
      #net_worth
        Net Worth:
        = Account.net_worth
    .clear
    - if flash[:error].present?
      = flash[:error].inspect
    - if notice.present?
      %p#notice= notice
    = yield
