!!! html
!!!
%html
  %head
    %title
      Personal Accounting
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_tag(yield :js)
    = javascript_tag "$(document).ready(function() { #{yield :ready_js}; });"
    = csrf_meta_tags
  %body
    #nav
      %ol
        %li= link_to 'Accounts', accounts_path
        %li= link_to 'Transactions', transactions_path
    .clear
    - if flash[:error].present?
      = flash[:error].inspect
    - if notice.present?
      %p#notice= notice
    = yield
