.account_row{ :class => show_children?(account) ? '' : 'hide_children' }
  .name
    .indent{style: "padding-left: #{indent(account)}"}
      -if account.has_children?
        %span.toggler.shower= link_to '+', '#'
        %span.toggler.hider= link_to '-', '#'
      = account.name
      %span.edit= link_to '(Edit)', edit_account_path(account)
  .debit= account.debit_balance_with_children
  .credit= account.credit_balance_with_children

  - account.child_accounts.order(:sort_order).each do |child|
    = render child
