= render 'list_outdated'

%h1 Balance Sheet

#net_worth
  Net Worth:
  = Account.net_worth.format

%p
  - if @show_all
    = link_to 'hide empty', accounts_path
    &mdash;
    show all
  - else
    hide empty
    &mdash;
    = link_to 'show all', accounts_path(show_all: true)

#accounts
  .account_group.account_row.header
    .name Account
    .debit Debit
    .credit Credit

  - @accounts.each do |account|
    = render account

.clear
%p{style: 'margin-top: 30px'}=link_to 'New Account', new_account_path

-content_for :ready_js do
  :plain
    shadeEveryOtherRow();

    $('.toggler').click(function(event) {
      $(event.target).closest('.account_group').toggleClass('hide_children');
      shadeEveryOtherRow();
      return false;
    });
